# --- Python & Environment ---
venv/
__pycache__/
.env
.vscode/

# --- Large Data & Models ---
embeddings.npy
chunks.pkl
index.faiss
prompt

# --- Model Artifacts ---
checkpoints/
data/
fine-tuned-tamilnadu-model/

# --- Folder ---
img/