#departments {
    padding: 60px 20px;
    background-color: #f8faff;
    /* Light bluish background */
    color: #1a1a1a;
    text-align: center;
    scroll-margin-top: 100px;
}

.departments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}


.department-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 51, 102, 0.2);
}


.department-card p {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    line-height: 21px;
}

.departments-container {
    width: 90%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 3rem;
    background-color: #204f71;
    margin: auto;
}

.department-item {
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #193453;
    box-shadow: 2px 2px 4px 2px #00000027;
    cursor: pointer;

    span {
        color: #f1e19c;
        font-family: "Poppins-SemiBold", Helvetica;
        font-size: 22px;
        margin-bottom: 8px;
    }
}