<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/department.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

<body>

    <div class="final">
        <header class="header">
            <div class="frame">
                <div class="group-wrapper">
                    <div class="group">
                        <div class="overlap-group">
                            <img class="img" src="{{ url_for('static', filename='img/mask-group-4.png') }}" />
                        </div>
                    </div>
                </div>
                <div class="navbar">
                    <div class="text-wrapper-2"><a
                            href="{{ url_for('static', filename='templates/index.html') }}">Home</a></div>
                    <div class="div">Departments</div>
                    <div class="text-wrapper-2">Applied</div>
                    <div class="text-wrapper-2">Downloads</div>
                    <div class="text-wrapper-2"><a
                            href="{{ url_for('static', filename='templates/services.html') }}">Services</a></div>
                    <div class="text-wrapper-2"><a
                            href="{{ url_for('static', filename='templates/schemes.html') }}">Schemes</a></div>
                    <div class="text-wrapper-2">Help</div>
                </div>
                <div class="frame-2">
                    <div class="div-wrapper">
                        <div class="employees-wrapper"><img class="employees"
                                src="{{ url_for('static', filename='img/Group.svg') }}" /></div>
                    </div>
                    <div class="bell-icon-wrapper"><img class="bell-icon"
                            src="{{ url_for('static', filename='img/bell icon.svg') }}" /></div>
                </div>
            </div>

        </header>

        <div class="departments-container"></div>
    </div>

</body>

</html>